@page
@model GroupStudyClient.Pages.Admin.GroupManagement.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Group.GroupId" />

                    <div class="form-group">
                        <label asp-for="Group.GroupName" class="control-label">Group Name</label>
                        <input asp-for="Group.GroupName" class="form-control" />
                        <span asp-validation-for="Group.GroupName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Group.GroupAdmin" class="control-label">Group Admin</label>
                        <input asp-for="Group.GroupAdmin.Email" class="form-control" readonly />
                        <span asp-validation-for="Group.GroupAdmin" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Group.CreatedAt" class="control-label">Created At</label>
                        <input asp-for="Group.CreatedAt" class="form-control" readonly />
                        <span asp-validation-for="Group.CreatedAt" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Group.Description" class="control-label">Description</label>
                        <input asp-for="Group.Description" class="form-control" />
                        <span asp-validation-for="Group.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
